* {
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  color: #41b3d3;
  margin-bottom: 50px;  
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}

#days {
  position: relative;
  border:  none;
  background-color:#000; 
}

input[type=text] {
  margin: none;
  width: 50px;
  height: 40px;
  font-size: 25px;
  font-style: italic;
}

h2 {
  color: #000;
  margin-bottom: 150px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 51px;
  margin: 0 10px;
}

.sider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #41b3d3; 
  transition: .4s;
  border-radius: 30px;
}

.switch input {display: none;}

.sider::before
{
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  left: 5px;
  bottom: 5pm;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .sider
{
  background-color: #41b3d3;
}

input:checked + .sider::before
{
  transform: translateX(50px);
}

.contactMe {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.contactMe__icons a{
  position: relative; 
  display: inline;
  float: left;
  margin: 15px;
  font-size: 20px;
  list-style: none;
  color: #000;
  display: flex;
  padding: none;
}